.main {
    margin-left: 219px;
    margin-top: 10px;
    height: 455px;
    width: 980px;
}
.focus {
    width: 720px;
    height: 100%;
}
.newsflash {
    width: 250px;
    height: 455px;
}
.focus {
    position: relative;
}
.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    line-height: 40px;
    text-align: center;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}
.arrow-right {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -120px;
}
.circle li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid rgba(255, 255, 255, .6);
}
.circle .current {
    width: 10px;
    height: 10px;
    background-color: rgba(255,255, 255, .8);
}
.news {
    height: 163px;
    border: 1px solid #ccc;
}
.news_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px dotted #ccc;
    font-family: 'icomoon';
}
.news_title div {
    font-size: 14px;
}
.news_content {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    margin: 10px 0 0 12px;
}
.lifeservice {
    height: 210px;
    width: 250px;
    border: 1px solid #ccc;
    border-top: 0;
}
.lifeservice_list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.lifeservice_list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice_list li:nth-child(5){
    border-right: 0;
}
.lifeservice_list li:nth-child(9){
    border-right: 0;
}
.lifeservice_list li:nth-child(13){
    border-right: 0;
}
.lifeservice_list li i {
    font-family: 'icomoon';
    color: #C81623;
    font-size: 25px;
}
.bargain {
    margin-top: 5px;
}
.discount{
    position: absolute;
    left: 111px;
    top: -3px;
}
.recommend {
    height: 163px;
    margin-top: 10px;
}
.recommend_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    color: #fff;
    font-family: 'icomoon';
}
.recommend_title i{
    margin: 30px 0 8px;
    font-size: 40px;
}
.recommend_title p {
    font-size: 18px;
}
.recommend_content {
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}

.recommend_content li {
    float: left;
    display: block;
    margin-top: 10px;
    width: 250px;
    height: 145px;
    border-left: 1px solid #ccc;
}

.box_title {
    height: 30px;
    margin-top: 25px;
    border-bottom: 2px solid #C81623;
}
.box_title h3 {
    font-size: 18px;
    color: #c81623;
}
.tab_list li {
    line-height: 30px;
    float: left;
}
.box_content {

    height: 360px;
}
.box_content li {
    overflow: hidden;
    height: 360px;
    float: left;
}
/* 添加动态过渡效果 */
.box_content img {
    transition: all .3s;
}
.box_content img:hover {
    padding-left: 5px;
}
.w210 {
    width: 210px;
    background-color: #f9f9f9;
}
.w210_items li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-left: 12px;
    width: 86px;
    height: 32px;
}

.w330 {
    width: 330px;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.w220_item {
    border-bottom: 1px solid #ccc;
}
.img1 {
    width: 219px;
}

.fixedtool {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    line-height: 32px;
}
.fixedtool li {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.fixedtool .current{
    background-color: #c81623;
    color: #fff;
}
.fixedtool li:hover {
    background-color: #c81623;
    color: #fff;
}